@font-face {
  font-family: cal;
  src: url("Pacifico.ttf");
}

@font-face {
  font-family: cal-2;
  src: url("LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: montserrat;
  src: url('Montserrat/Montserrat-Light.ttf');
}

.centered {
  float: center;
}

html {
  background-color: black;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: black;
}

hr {
  margin: 0px;
}

.h {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  padding: 10px;
  margin: 3px;
  transition: 0.8s;
  font-family: 'Montserrat', montserrat;
  display: inline-block;
  border-radius: 30px;
}

.h:active{text-decoration: none;}

.dropdown-internal {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', montserrat
}

.internal-working {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
  border-radius: 10px;
}

.internal-working a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.internal-working a:hover {background-color: #f1f1f1}

.dropdown-internal:hover .internal-working {
  display: block;
}

.dropdown-internal:hover .h {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.8s;
  cursor: pointer;
}

.dropdown-external {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', montserrat
}

.external-working {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
  border-radius: 10px;
}

.external-working a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.external-working a:hover {background-color: #f1f1f1}

.dropdown-external:hover .external-working {
  display: block;
}

.dropdown-external:hover .h {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.8s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hide{
    display: none;
  }
}

nav {
  width: 100%;
  position: fixed;
  background-image: linear-gradient(to right, blue, skyblue);
  margin-top: 0px;
  margin-left: 0px;
}

.b {
  font-size: 2vw;
  color: white;
  font-weight: 500;
  float: left;
  transition: 0.5s;
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  border-radius: 20px;
  background: rgb(217, 150, 56);
  padding: 10px;
}

.b:hover {
  text-decoration: none;
  color: rgb(72, 176, 79);
  bottom: 2vw;
  transition: 0.5s;
}

.icon-bar {
  background: white;
  z-index: 2;
}

button {
  margin: 5px;
}

#main {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  padding-top: 200px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 1vw;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(200, 200, 200);
  opacity: 0.8;
}

#main h4 {
  font-size: 2vw;
  font-family: cal;
  letter-spacing: 4px;
  color: rgb(84, 184, 79);
}

#main2 {
  background-image: url("images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main2 h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

#main3 {
  background-image: url("images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  height: 800px;
  margin-top: 0px;
}

#main3 h1 {
  font-size: 10vw;
  font-family: cal-2;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

#section0 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  background-color: black;
  color: white;
  margin-top: 0px;
}

#section0 {
  margin-top: 0px;
  background-color: black;
}

#section0 td {
  font-size: 25px;
  text-align: justify;
}

#section0 h1 {
  font-size: 40px;
  font-family: cal;
  text-align: left;
  letter-spacing: 2px;
  letter-spacing: 2px;
}

#section0 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}

#section1 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  background-color: black;
  color: white;
  margin-top: 0px;
}

#section1 {
  margin-top: 0px;
  background-color: black;
}

#section1 td {
  font-size: 25px;
  text-align: justify;
}

#section1 h1 {
  font-size: 50px;
  font-family: cal;
}

#section1 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}


#section2 h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#section2 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  background: white;
}

#section2 td {
  font-size: 25px;
  text-align: justify;
}

#section2 h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#section2 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}

#section3 {
  background-color: white;
}

#section3 h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#section3 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  color: black;
  background-color: white;
}

#section3 td {
  font-size: 25px;
  text-align: justify;
}

#section3 h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#section3 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}

#section4 {
  background-color: black;
  color: white;
}

#section4 h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#section4 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
}

#section4 td {
  font-size: 25px;
  text-align: justify;
}

#section4 h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#section4 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}

#section7 {
  background-color: white;
}

#section7 h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#section7 table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
  color: black;
  background-color: white;
}

#section7 td {
  font-size: 25px;
  text-align: justify;
}

#section7 h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#section7 img {
  width: 100%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
}

#end {
  background-color: black;
  color: white;
}

#end h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: cal;
}

#end table {
  border-spacing: 40px 0px;
  border-collapse: separate;
  font-family: cal-2;
}

#end td {
  font-size: 25px;
  text-align: center;
}

#end h1 {
  font-size: 40px;
  margin-left: 0px;
  font-family: cal;
  text-align: left;
  word-spacing: 2px;
}

#end img {
  width: 70%;
  height: 70%;
  vertical-align: top;
  border: 2px;
  border-color: red;
  padding: 5px;
  border-radius: 50%;
}

#end p {
  text-align: justify;
}

.montserrat {
  font-family: 'Montserrat', montserrat;
}

